In [102]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [103]:
url = 'https://www.hellowork.com/fr-fr/emploi/recherche.html?k=data+analyst&k_autocomplete=&l=lyon&l_autocomplete=lyon&ray=20&msa=&cod=all&d=all&c_idesegal='
headers = {     'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36',
                'accept-language': 'fr-FR,fr;q=0.9,en-US;q=0.8,en;q=0.7',
                'referer': 'https://www.hellowork.com/fr-fr/emploi.html',
         }

In [104]:
response = requests.get(url, headers=headers)
htmlData = response.content

In [105]:
if response.status_code == 200:
    soup = BeautifulSoup(htmlData, 'html.parser')
    emplois = soup.select('ul.crushed li')

    emploi_data = []

    for emploi in emplois:
        metadata_div_intitule = emploi.find('h3')
        intitule_poste = metadata_div_intitule.text.strip() if metadata_div_intitule else None

        metadata_div_entreprise = emploi.find('span', class_='tw-mr-2')
        entreprise = metadata_div_entreprise.text.strip() if metadata_div_entreprise else None

        metadata_div_type = emploi.find('span', class_='tw-w-max')
        emploi_type = metadata_div_type.text.strip() if metadata_div_type else None

        metadata_div_loc = emploi.find('span', class_='tw-text-ellipsis')
        location = metadata_div_loc.text.strip() if metadata_div_loc else None

        emploi_data.append({
            "Intitule Poste": intitule_poste,
            "Entreprise": entreprise,
            "Type": emploi_type,
            "Loc": location
        })
        df_emploi = pd.DataFrame(emploi_data)
    print(df_emploi)
    df_emploi.to_csv('out.csv', index=False)
else:
    print(f"Erreur lors de la récupération de la page : {response.status_code}")

                                       Intitule Poste  \
0                                    Data Analyst H/F
1                                    Data Analyst H/F
2                                    Data Analyst H/F
3                                    Data Analyst H/F
4                                    Data Analyst H/F
5                                    Data Analyst H/F
6                                    Data Analyst H/F
7                                    Data Analyst H/F
8                                    Data Analyst H/F
9                           Data Analyst Confirmé H/F
10                                   Data Analyst H/F
11                            Data Analyst - Lyon H/F
12                             Data Analyst - CDI H/F
13                     Data Analyst en Alternance H/F
14            Alternance - Ingénieur Data Analyst H/F
15                    Pricing Data Analyst - Lyon H/F
16           Data Analyst en Apprentissage - Lyon H/F
17                                   Data Analyst H/F
18                      Alternance - Data Analyst H/F
19                       Data Analyst Facturation H/F
20   Appui Pmo - Data Analyst - Alternance - Lyon H/F
21         Senior Data Analyst Deals M&A Lyon CDI H/F
22                     Data Analyst Deals M&A CDI H/F
23  Senior Financial Data Analyst Deals M&A Lyon C...
24           Consultant·e Business Analyst·e Data H/F
25       Business Analyst Data et Digital Finance H/F
26                    Chef de Projet Data Analyst H/F
27  Alternance Bac+4 - 5 - Corporate Master Data A...
28               Analyste de Données - Alternance H/F
29                    Data Analyste en Alternance H/F

                                           Entreprise        Type  \
0                                    Repam Assurances         CDI
1                                            Assystem         CDI
2                                             Akkodis         CDI
3                                       PERSUADERS RH         CDI
4                                        DCS Easyware         CDI
5                                   Evoteo Consulting         CDI
6                                              Enedis  Alternance
7                                         SELEKTIV'RH     Intérim
8                                 Davidson Consulting         CDI
9                                   Evoteo Consulting         CDI
10                                             Ikigaï         CDI
11                      Groupama Rhône Alpes Auvergne         CDI
12                                            Viatris         CDI
13                                          EPSI Lyon  Alternance
14                                          Framatome  Alternance
15                                       Rubix France         CDI
16                                       Rubix France  Alternance
17                                      Sodiaal Union         CDI
18  GROUPE GEMA - ESI BUSINESS SCHOOL / IA SCHOOL ...  Alternance
19                                    MyLight Systems         CDI
20                                              ENGIE  Alternance
21                                                PwC         CDI
22                                                PwC         CDI
23                                                PwC         CDI
24                                               Adod         CDI
25                                          Framatome         CDI
26                                               1 an  Alternance
27                                         bioMérieux  Alternance
28                                              ENGIE  Alternance
29                                        Pigier Lyon  Alternance

                             Loc
0                   Lyon 6e - 69
1                      Lyon - 69
2                      Lyon - 69
3                      Lyon - 69
4                      Lyon - 69
5                   Lyon 7e - 69
6                      Lyon - 69
7                   Lyon 2e - 69
8                   Lyon 6e - 69
9                   Lyon 7e - 69
10                     Lyon - 69
11                     Lyon - 69
12                  Lyon 7e - 69
13                     Lyon - 69
14                     Lyon - 69
15                     Lyon - 69
16                  Lyon 7e - 69
17                     Lyon - 69
18                     Lyon - 69
19                  Lyon 6e - 69
20                 Lyon 1er - 69
21                 Lyon 1er - 69
22                 Lyon 1er - 69
23                 Lyon 1er - 69
24                 Lyon 1er - 69
25                     Lyon - 69
26  Charbonnières-les-Bains - 69
27                 Craponne - 69
28                 Lyon 1er - 69
29      Tassin-la-Demi-Lune - 69